{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

    <form action="alta_curso" method="POST">
        {% csrf_token %}
        <div class="col-md-4">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre_alumno" aria-describedby="nombre" name="nombre">
        </div>
        <div class="col-md-4">
            <label class="form-label">Camada</label>
            <input type="number" class="form-control" id="camada_curso" name="camada">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
    </form>

{% endblock %}