{% extends "padre.html" %}

{% load static %}


{% block contenido %}
<div class="container-form">
    <form action="{% url 'nuevo_profesor' %}" method="POST" class="form">
        {% csrf_token %}

        <div class="nombre_profesor col-md-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre_profesor" aria-describedby="nombre_profesor" name="nombre_profesor">
        </div>

        <div class="apellido_profesor col-md-3">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido_profesor" aria-describedby="apellido_profesor" name="apellido_profesor">
        </div>

        <div class="materia_profesor col-md-3">
            <label class="form-label">Materia/Curso</label>
            <input type="text" class="form-control" id="materia_profesor" aria-describedby="materia_profesor" name="materia_profesor">
        </div>
    
        <div class="legajo_profesor col-md-3">
            <label class="form-label">Legago Nº </label>
            <input type="text" class="form-control" id="legajo_profesor" aria-describedby="legajo_profesor" name="legajo_profesor">
        </div>

        <div class="container-btn">
            <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
        </div>
    
    </form>
</div>
    

{% endblock %}