{% extends 'padre.html' %}

{% load static %}

{% block header %}
    <h1 class="text-center" style="color: white;">Profesores</h1>
{% endblock %}

{% block contenido %}

<main>
    <a href="nuevo_profesor" class="btn btn-primary btn-sm">Agregar Nuevo Profesor/a</a>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <img src="{% static 'AppCursos/assets/img/professor_1.jpeg'%}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Juan Lopéz</h5>
                        <p class="card-text">Me gusto mucho el curso.</p>
                        <a class="btn btn-danger btn-sm" href="">Enviar mensaje</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <img src="{% static 'AppCursos/assets/img/professor_2.jpeg'%}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Juan Lopéz</h5>
                        <p class="card-text">Me gusto mucho el curso.</p>
                        <a class="btn btn-danger btn-sm" href="">Enviar mensaje</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <img src="{% static 'AppCursos/assets/img/professor_3.jpeg'%}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Juan Lopéz</h5>
                        <p class="card-text">Me gusto mucho el curso.</p>
                        <a class="btn btn-danger btn-sm" href="">Enviar mensaje</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <img src="{% static 'AppCursos/assets/img/professor_1.jpeg'%}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Juan Lopéz</h5>
                        <p class="card-text">Me gusto mucho el curso.</p>
                        <a class="btn btn-danger btn-sm" href="">Enviar mensaje</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for n in profesores %}

    <div class="container">
        <div class="col-12  col-md-4">
            <div class="card">
                <img src="{% static 'AppCursos/assets/img/professor_1.jpeg' %}" />
                <div class="card-body">
                    <h5 class="card-title">{{n.nombre_profesor}} {{n.apellido_profesor}}</h5>
                    <h6 class="card-title">{{n.materia_profesor}}</h6>
                    <p class="card-text">Legajo Nº: {{n.legajo_profesor}}.</p>
                    <a class="btn btn-danger btn-sm" href="">Enviar mensaje</a>
                    <a href="{% url 'editar_profesor' n.id %}" class="btn btn-outline-warning btn-sm">Editar</a>
                    <a href="{% url 'elimina_profesor' n.id %}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</main>

{% endblock %}